html {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 18px;
    font-family: "Georgia", "Times New Roman", "宋体", serif;
}

body {
    margin: 0;
    background: peachpuff;
    padding: 55px 10px 61px 10px;
}

.container {
    position: relative;
    width: 620px;
    padding: 60px 80px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    border-radius: 3px;
    &::after {
        display: block;
        position: absolute;
        z-index: -1;
        width: 98%;
        height: 6px;
        left: 1%;
        bottom: -6px;
        content: "";
        background: #fff;
        border-radius: 0 0 3px 3px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 800px;
    }
}

@media screen and (max-width: 790px) {
    body {
        padding: 0;
        background-color: #fff;
    }
    .container {
        width: auto;
        box-shadow: none;
        border-radius: 0;
        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 30px 40px;
    }
}

@media screen and (max-width: 512px) {
    .container {
        padding: 20px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        width: 280px;
    }
}

@media print {
    body {
        padding: 0;
    }
    .container {
        width: auto;
        box-shadow: none;
        border-radius: 0;
        &::after {
            display: none;
        }
    }
}

.icp {
    border-top: 1px solid #e0e0e0;
    padding-top: 8px;
    color: #666;
    font-size: 14px;

    a {
        color: #666;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: #111;
        }
    }
}

.iframe {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
}
