<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ site.title }}</title>
    {% include get_relative_base_url.html %}
    <link rel="shortcut icon" href="{{ relative_base_url }}/{{ site.avatar }}">
    <link rel="stylesheet" href="{{ relative_base_url }}/resources/styles/main.css">
    <link rel="preload" href="{{ relative_base_url }}/resources/images/back-active.png" as="image">
</head>
<body>
<div class="container">
    <div class="home-view">
        <div class="header">
            <h1>{{ site.title }}</h1>
            <a class="email" href="mailto:{{ site.email }}" title="Send an email to me">{{ site.author }} &lt;{{ site.email }}&gt;</a>
            <a
                class="avatar" href="{{ site.github }}"
                title="Follow me on Github"
                style="background-image: url('{{ relative_base_url }}/{{ site.avatar }}')"></a>
        </div>
        <div class="posts">
            <ul>
                {% for post in site.posts %}{% if post.snippet != true %}<li>
                    <span>{{ post.date | date: "%Y / %m / %d " }}</span>
                    <h2><a href="{{ relative_base_url }}{{ post.url }}">{{ post.snippet }} {{ post.title }}</a></h2>
                    <p>
                        {{ post.excerpt | strip_html }}
                    </p>
                </li>{% endif %}{% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include scripts.html %}
</body>
</html>
