<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    {% include get_relative_base_url.html %}
    {% include styles.html %}
    <link rel="shortcut icon" href="{{ relative_base_url }}/{{ site.avatar }}">
    <link rel="preload" href="{{ relative_base_url }}/resources/images/back-active.png" as="image">
</head>
<body>
<div class="container">
    <div class="post-view">
        <a class="btn-back-to-home-page" href="{{ relative_base_url }}" title="Back to home page"></a>
        <article>
            <div class="meta">
                <div class="date">{{ page.date | date: "%Y / %m / %d " }}</div>
                <div class="author">
                    {% if page.author != nil %}
                        by {{ page.author }}
                    {% else %}
                        by {{ site.author }}
                    {% endif %}
                </div>
            </div>
            <h1 class="heading"><span class="heading-text">{{ page.title }}</span></h1>
            {{ page.content }}
        </article>
    </div>
</div>
{% include scripts.html %}
</body>
</html>
