<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ site.title }}</title>
    {% include get_relative_base_url.html %}
    <link rel="shortcut icon" href="{{ relative_base_url }}/{{ site.avatar }}">
    <link rel="stylesheet" href="{{ relative_base_url }}/resources/styles/main.css">
    <link rel="preload" href="{{ relative_base_url }}/resources/images/back-active.png" as="image">
</head>
<body>
<div class="container">
    <div class="home-view">
        <div class="header">
            <h1 class="site-title">{{ site.title }}</h1>
            <a class="site-email" href="mailto:{{ site.email }}" title="Send an email to me">{{ site.author }} &lt;{{ site.email }}&gt;</a>
            <a
                class="site-avatar" href="{{ site.github }}"
                title="Follow me on Github"
                style="background-image: url('{{ relative_base_url }}/{{ site.avatar }}')"></a>
        </div>
        <nav class="site-nav">
            <ul>
                <li>
                    <a href="{{ relative_base_url }}/">Posts</a>
                </li>
                <li>
                    <a class="active" href="{{ relative_base_url }}/snippets.html">Snippets</a>
                </li>
            </ul>
        </nav>
        <div class="posts">
            <ul class="post-list">
                {% for post in site.posts %}{% if post.snippet == true %}<li class="post-list-item post">
                    <span class="post-date">{{ post.date | date: "%Y / %m / %d " }}</span>
                    <h2 class="post-title"><a href="{{ relative_base_url }}{{ post.url }}">{{ post.title }}</a></h2>
                    <p class="post-excerpt">
                        {{ post.excerpt | strip_html }}
                    </p>
                </li>{% endif %}{% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include scripts.html %}
</body>
</html>
